:root {
  --dusky: #52638b;
  --aqua: #00e7e8;
  --dark: #0e193b;
  --lgrey: #aaaaaa;
  --white: #fff;
  --dblue: #172143;
  --vlgrey: #dadada;
  --red: #ff3b30;
  --blackshadow: #000000;
  --nicePink: #f9c2ff;
  --size: 5;
}

h1 {
  font-family: consolas;
  color: var(--white);
  border: 5px solid var(--aqua);
  flex: 1;
  width: 100vh;
  height: 100%;
}

h2 {
  font-family: consolas;
  border: 5px solid var(--red);
  flex: 0.5;
  width: 100vh;
  height: 100%;
}

#banner {
  flex: 0.5;
  object-fit: cover;
  border: 5px solid var(--nicePink);
  width: 100vh;
  height: 100%;
}

.container-fluid {
  border: 5px solid var(--lgrey);
  display: flex;
  flex-direction: column;
  justify-content: end;
  /*height: 100%;*/
  /*width: 100%;*/
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main {
  background: url('https://mtec.ethz.ch/continuing-education/_jcr_content/image.imageformat.carousel.1690519963.jpg') repeat scroll center center / cover;
  width: 100%;
  height: 100vh;
}

.typewriter h2 {
  text-align: left;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
          typing 3.5s steps(30, end) infinite alternate,
          blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


/* TODO: Make the timeline pretty*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 300;
  color: #333;
  box-sizing: border-box;
}
body * {
  box-sizing: border-box;
}
.timeline {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(33% + 15px);
  bottom: 0;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -4px;
  z-index: 99;
}
.entry .title h3 {
  margin: 0;
  font-size: 120%;
}
.entry .title p {
  margin: 0;
  font-size: 100%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: 0.5em;
}

